;; User keymap
;; -----------------------------
;; Keymaps are stored as a set of diffs that are merged together together
;; to create the final set of keys. You can modify these diffs to either add
;; or subtract bindings.
;;
;; Like behaviors, keys are bound by tag. When objects with those tags are active
;; the key bindings are live. Keys can be bound to any number of Light Table commands,
;; allowing you the flexibility to execute multiple operations together. To see a list
;; of all the commands you can execute, start typing a word related to the thing you
;; want to do in between the square brackets (e.g. type "editor").

;; TODO: http://scattered-thoughts.net/blog/2014/01/27/were-not-even-trying/
;; TODO: ~/.config/LightTable/settings/
;; TODO: plugin to higlit TODO:
;; TODO: Selcetion
;; TODO: clear whitespaces
;; TODO: try emacs again
;; TODO: make plugin like emacs init.el file
;; TODO: visible whitespace
;; TOOD: web inspector

{:+ {:app {
           "ctrl-x ctrl-f" [:navigate-workspace-transient]
           "ctrl-x ctrl-s" [:save]
           "ctrl-shift-j" [:tabs.prev]
           "ctrl-shift-l" [:tabs.next]
           }
     :editor.keys.normal {"tab" [:smart-indent-selection]
                          "ctrl-f" [:editor.char-right]
                          "ctrl-g" [:clear-inline-results
                                    :editor.selection.clear]
                          }

     :editor.keys.hinting.active {"tab" [:auto-complete]
                                  "enter" [:passthrough]
                                  }
     :editor {
              "alt-w" [:editor.watch.watch-selection]
              "alt-shift-w" [:editor.watch.unwatch]
              "ctrl-s" [:find.fill-selection
                        :find.show]
              "alt-space" [:editor.select-line]
              "alt-g alt-g" [:goto-line]
              "alt-shift-," [:editor.doc-start]
              "alt-shift-." [:editor.doc-end]
              "alt-1" [:toggle-console]
              "alt-2" [:workspace.show]
              "alt-f" [:editor.word-right]
              "alt-b" [:editor.word-left]
              "ctrl-b" [:editor.char-left]
              "ctrl-f" [:editor.char-right]
              "ctrl-a" [:editor.line-start-smart]
              "ctrl-e" [:editor.line-end]
              "ctrl-p" [:editor.line-up]
              "ctrl-n" [:editor.line-down]
              "ctrl-d" [:editor.delete-char-right]
              "alt-d" [:editor.delete-word-right]
              "ctrl-k" [:editor.kill-line]
              "ctrl-/" [:editor.undo]
              "ctrl-;" [:toggle-comment-selection]
              "alt-x" [:show-commandbar-transient]
     }}}