*newsrc-dribble*
%backup%~
.smex-items
/abbrev_defs
/auto-save-list
/backups
/elim
/elpa
/eshell/history
/eshell/lastdir
/mail
/news
/session*
/swank
/tramp
/url
/var
/url
/server
places
repl-port
nrepl-history
projectile-bookmarks.eld